.profile__avatar-container {
  position: relative;
  cursor: pointer;
}

.profile__avatar-container:hover:after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .7);
  background-image: url(../../../images/btn-edit.svg);
  background-position: center;
  background-size: 26px;
  background-repeat: no-repeat;
}
